@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1160px;
  min-width: 320px;
  margin: auto;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*base end*/

.btn {
  font-size: 18px;
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 8px 25px;
  width: 200px;
  letter-spacing: 4px;
  background-color: transparent;
}

.btn::before {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translate(0, -50%);
  background-color: #f0c52e;
}

.btn:hover::before {
  height: 100%;
}

.title-h3 {
  font-size: 47px;
  font-weight: 800;
}

.header .container {
  background-color: #f7e296;
  margin-top: 40px;
  padding: 0 60px;
}

.header .logo img {
  margin-top: -20px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.user-nav a {
  color: black;
}

.search {
  margin-right: auto;
}

.user-nav_wrap {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.user-nav_cart {
  margin-left: 40px;
}

.user-nav_cart::before {
  content: url("../img/cart.svg");
  margin-right: 10px;
}

.user-nav_compare::before {
  content: url("../img/compare.svg");
  margin-right: 10px;
}

.user-nav_login {
  margin-right: auto;
}

.user-nav_login::before {
  content: url("../img/user.svg");
  margin-right: 10px;
}

.user-nav_login span {
  color: #c1b075;
  margin-left: 10px;
}

.nav {
  padding-bottom: 151px;
}

.nav_list {
  list-style: none;
  padding-left: 0;
  margin-top: 41px;
  display: flex;
}

.nav_general:first-child {
  flex-grow: 1;
  position: relative;
}

.nav_general:last-child {
  margin-left: 104px;
}

.nav_general:nth-child(3) {
  margin-left: 34px;
}

.nav_category {
  width: 200px;
  font-size: 15px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_category:first-child {
  margin-right: 40px;
}

.nav_general-catalog {
  position: relative;
}

.nav_menu {
  align-items: flex-start;
  position: absolute;
  width: 1160px;
  left: -60px;
  top: 100%;
  background-color: #f7e296;
  z-index: 2;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  display: none;
}

.nav_general-catalog:hover .nav_menu {
  display: flex;
}

.nav_category li {
  margin-bottom: 25px;
}

.nav_general, .footer_nav {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav_general a {
  color: black;
  letter-spacing: 3.6px;
}

.nav_menu a {
  letter-spacing: normal;
}

.slider {
  margin-top: -125px;
}

.slider .slide_2 {
  display: none;
}

.slide {
  display: flex;
  padding-left: 80px;
  position: relative;
}

.slide_decor {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 179.2px;
  color: white;
  position: absolute;
  right: 50px;
  top: -9px;
}

.slide_text {
  margin-left: 120px;
}

.slide_head {
  font-family: inherit;
  font-weight: 800;
  font-size: 47px;
  margin-bottom: 30px;
}

.slide_head::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: white;
  margin-bottom: 40px;
}

.slide_description {
  line-height: 2;
  margin-bottom: 60px;
}

.slide .btn {
  margin-bottom: 70px;
}

.slide_characteristics {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.slide_characteristics li {
  margin-right: 80px;
  font-size: 13px;
}

.slide_characteristics span {
  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 25px;
}

.popular_items {
  padding-left: 0;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.popular_item {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.popular {
  font-size: 18px;
  font-weight: 800;
}

.popular a {
  color: black;
  display: flex;
  flex-direction: column;
}

.popular_item_img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.popular_item_img-monopod {
  align-items: flex-end;
}

.popular_items, .services_nav, .info-item_carriers, .footer_nav {
  list-style: none;
}

.services {
  background-color: #e5e5e5;
  margin-top: 180px;
  z-index: -1;
  position: relative;
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services_nav {
  padding-left: 0;
  width: 276px;
  position: relative;
}

.services_nav::before {
  content: '';
  display: block;
  width: 6px;
  height: 320px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 70px;
  z-index: 2;
}

.services_nav li {
  margin-bottom: 30px;
}

.btn-service-active {
  background-color: black;
  color: #f7e184;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  text-align: left;
  width: 276px;
}

.services_slide {
  display: flex;
  padding-right: 65px;
  padding-bottom: 130px;
}

.services_slide_text .title-h3 {
  margin-top: -30px;
  margin-bottom: 40px;
}

.slide-hide {
  display: none;
}

.services_slide img {
  margin-top: -35px;
  margin-left: 140px;
}

.services_slide_text p {
  line-height: 2;
}

.logotypes .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 270px;
}

.info .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.info .title-h3::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: black;
  margin-bottom: 50px;
}

.info-item .btn {
  width: 275px;
}

.info p {
  line-height: 2;
  margin-bottom: 50px;
}

.info-item_carriers {
  font-size: 16px;
  font-weight: 800;
  margin: 80px 0;
}

.info-item_carriers li {
  margin-bottom: 15px;
}

.info-item_map {
  display: block;
  margin-bottom: 80px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
  padding: 50px 0;
}

.footer a {
  color: white;
}

.footer address {
  font-style: normal;
}

.footer_user-nav {
  display: flex;
}

.footer_logo {
  margin-right: auto;
  fill: #ffc600;
}

.footer_user-nav_cart, .footer_user-nav_compare {
  margin-left: 40px;
}

.footer_user-nav_login::before {
  content: url("../img/user.svg");
  margin-right: 10px;
}

.footer_user-nav_compare::before {
  content: url("../img/compare.svg");
  margin-right: 10px;
}

.footer_user-nav_cart::before {
  content: url("../img/cart.svg");
  margin-right: 10px;
  fill: #ffc600;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.footer_nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer_nav li {
  margin-left: 40px;
  letter-spacing: 4px;
}

.footer-img {
  display: flex;
  position: relative;
}

.footer-img::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  position: absolute;
  top: 14px;
}

.footer_social-wrap {
  margin-right: auto;
  margin-left: auto;
}

.footer_social-wrap a {
  margin-right: 20px;
}

.logo-html {
  position: absolute;
  right: 0;
  fill: #ffc600;
}

/*catalog*/

.h1-catalog {
  font-size: 47px;
  font-weight: 800;
  margin-top: 45px;
  margin-bottom: 50px;
  padding-left: 60px;
}

.bread-crumbs {
  padding-left: 60px;
  margin-bottom: 55px;
}

.bread-crumbs a {
  color: #bcbcbc;
}

.bread-crumbs img {
  margin: 0 15px;
}

.catalog_wrap {
  display: flex;
}

.sorting {
  background-color: #ebebeb;
  min-height: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.sorting_name {
  margin: 0 40px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sorting_categories {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.sorting_categories a {
  color: #a4a4a4;
  padding: 10px;
}

.sorting_arrows-nav {
  margin-left: auto;
}

.sorting_arrows-nav a {
  margin-left: 10px;
}

.products {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.products_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.products_item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.products_item:nth-child(2n) {
  margin-right: 0;
}

.products_item_name {
  font-size: 18px;
  font-weight: 800;
  color: #000;
}

.products_wrap span {
  font-size: 16px;
  font-weight: 300;
}

.pages-nav {
  margin-left: 70px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: #ebebeb;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pages-nav a {
  color: black;
  padding: 20px;
}

.pages-nav_numbers {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.pages-nav_numbers a {
  padding: 10px;
}

.filters {
  max-width: 328px;
  width: 100%;
}

.filters h2 {
  padding-left: 60px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #dbdbdb;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.filters form {
  padding-left: 60px;
}

.filters h3 {
  font-size: 16px;
  font-weight: 800;
}

.filter-cost, .filter-color, .filter-bluetooth {
  width: 200px;
  border-top: 2px solid #000000;
}

.filter-cost {
  margin-top: 70px;
}
