@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1160px;
  min-width: 320px;
  margin: auto;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*base end*/

.btn {
  font-size: 18px;
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 8px 25px;
  width: 200px;
  letter-spacing: 4px;
  background-color: transparent;
}

.btn::before,
.services-btn span::before {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translate(0, -50%);
  background-color: #f0c52e;
  transition: 0.3s;
}

.btn:hover::before,
.services-btn span:hover::before {
  height: 40px;
}

.title-h3 {
  font-size: 47px;
  font-weight: 800;
}

.header .container {
  background-color: #f7e296;
  margin-top: 40px;
  padding: 0 60px;
}

.header .logo img {
  margin-top: -20px;
}

.search {
  display: flex;
}

.search button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: inherit;
  border: none;
  margin-top: -3px;
  margin-left: -3px;
}

.search input {
  background-color: inherit;
  border: none;
  padding-left: 13px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.user-nav a {
  color: black;
}

.search {
  margin-right: auto;
}

.user-nav_wrap {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.user-nav_cart {
  margin-left: 42px;
}

.user-nav_cart::before {
  content: url("../img/cart.svg");
  margin-right: 11px;
}

.user-nav_compare::before {
  content: url("../img/compare.svg");
  margin-right: 9px;
}

.user-nav_login {
  margin-right: auto;
}

.user-nav_login::before {
  content: url("../img/user.svg");
  margin-right: 14px;
}

.user-nav_login span {
  color: #c1b075;
  margin-left: 10px;
}

.nav {
  padding-bottom: 151px;
}

.nav_list {
  list-style: none;
  padding-left: 0;
  margin-top: 44px;
  display: flex;
}

.nav_general:first-child {
  flex-grow: 1;
  position: relative;
}

.nav_general:first-child::after {
  content: url("../img/plus.png");
  margin-left: 10px;
}

.nav_general:last-child {
  margin-left: 104px;
}

.nav_general:nth-child(3) {
  margin-left: 34px;
}

.nav_category {
  width: 200px;
  font-size: 15px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_category:first-child {
  margin-right: 40px;
}

.nav_general-catalog {
  position: relative;
}

.nav_menu {
  align-items: flex-start;
  position: absolute;
  width: 1160px;
  left: -60px;
  top: 100%;
  background-color: #f7e296;
  z-index: 2;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  display: none;
}

.nav_general-catalog:hover .nav_menu {
  display: flex;
}

.nav_category li {
  margin-bottom: 25px;
}

.nav_general, .footer_nav {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav_general a {
  color: black;
  letter-spacing: 3.6px;
}

.nav_menu a {
  letter-spacing: normal;
}

.slider {
  margin-top: -112px;
}

.slide {
  display: none;
  align-items: flex-start;
  padding-left: 90px;
  position: relative;
}

.slide-quadcopter {
  padding-left: 30px;
}

.slide-quadcopter img {
  margin-top: -50px;
  width: 530px;
}

.slide-quadcopter .slide_head {
  z-index: 5;
  position: relative;
}

.slide_decor {
  font-family: inherit;
  font-weight: 800;
  font-size: 179.2px;
  color: white;
  position: absolute;
  right: 49px;
  top: -27px;
}

.slide_text {
  margin-left: 124px;
}

.slide-quadcopter .slide_text {
  margin-left: 40px;
}

.slide_head {
  font-family: inherit;
  font-weight: 800;
  font-size: 47px;
  margin-top: 34px;
  margin-bottom: 21px;
}

.slide_head::before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.slide_description {
  line-height: 2;
  margin-bottom: 45px;
}

.slide .btn {
  margin-bottom: 56px;
  padding: 8px 43px;
  width: 220px;
}

.slider-controls {
  position: absolute;
  top: 326px;
  right: 83px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 18px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slider-controls label::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#product-1:checked ~ .slider #slide1,
#product-2:checked ~ .slider #slide2,
#product-3:checked ~ .slider #slide3 {
  display: flex;
}
#product-1:checked ~ .slider [for="product-1"]::after,
#product-2:checked ~ .slider [for="product-2"]::after,
#product-3:checked ~ .slider [for="product-3"]::after {
  opacity: 1;
}

.slide_characteristics {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.slide_characteristics li {
  margin-right: 80px;
  font-size: 13px;
}

.slide_characteristics li:nth-child(2) {
  margin-right: 77px;
}

.slide_characteristics span {
  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 14px;
}

.popular_items {
  padding-left: 0;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.popular_item {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.popular {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
}

.popular a {
  color: black;
}

.popular span {
  display: block;
  line-height: 1.4;
}

.popular_item_img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

.popular_item_img-monopod {
  align-items: flex-end;
}

.popular_items, .services_nav, .info-item_carriers, .footer_nav {
  list-style: none;
}

.services {
  background-color: #e5e5e5;
  margin-top: 179px;
}

.services .container {
  display: flex;
/*  justify-content: space-between;
*/}

.services_nav {
  padding-left: 0;
  width: 284px;
  position: relative;
  margin-top: -10px;
}

.services_nav::before {
  content: '';
  display: block;
  width: 7px;
  height: 320px;
  background-color: #000000;
  position: absolute;
  right: 0;
  bottom: 55px;
  z-index: 2;
}

.services_nav li {
  margin-bottom: 44px;
}

.services-btn {
  width: 164px;
  display: block;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
}

.services-radio:checked + span {
  color: #f7e184;
}

.services-radio:checked + span::before {
  width: 278px;
  height: 40px;
  background-color: #000000;
}

.services_slide {
  display: flex;
  padding-right: 65px;
  padding-bottom: 130px;
}

.services_slide_text {
  margin-left: 118px;
}

.services_slide_text .title-h3 {
  margin-top: -30px;
  margin-bottom: 30px;
}

.slide-hide {
  display: none;
}

.services_slide img {
  margin-top: -24px;
  margin-left: 142px;
}

.services_slide_text p {
  line-height: 2;
}

.logotypes .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 285px;
  padding-left: 15px;
}

.info .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.info .title-h3 {
  margin-top: 0;
  margin-bottom: 41px;
}

.info .title-h3::before {
  content: '';
  display: block;
  width: 80px;
  height: 8px;
  background-color: #000000;
  margin-bottom: 42px;
}

.info-item .btn {
  width: 260px;
}

.info-btn {
  padding: 8px 21px;
  letter-spacing: 3.5px;
}

.info p {
  line-height: 2;
  margin-bottom: 30px;
}

.info-item_carriers {
  font-size: 16px;
  font-weight: 800;
  padding-left: 35px;
  margin-top: 76px;
  margin-bottom: 67px;
}

.info-item_carriers li {
  margin-bottom: 22px;
}

.info-item_map {
  display: block;
  margin-top: 39px;
  margin-bottom: 68px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
  padding: 50px 0;
}

.footer a {
  color: white;
}

.footer address {
  font-style: normal;
}

.footer_user-nav {
  display: flex;
  margin-top: 9px;
}

.footer_logo {
  margin-top: -5px;
  margin-right: auto;
  fill: #ffc600;
}

.footer_user-nav_cart {
  margin-left: 40px;
}

.footer_user-nav_compare {
  margin-left: 45px;
}

.footer_nav-icon {
  fill: #ffc600;
  margin-right: 7px;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 53px;
}

.footer_nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-right: 67px;
  margin-bottom: 0;
}

.footer_nav li {
  margin-left: 30px;
  letter-spacing: 4px;
}

.footer-img {
  display: flex;
  position: relative;
}

.footer-img::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  position: absolute;
  top: 14px;
}

.footer_social-wrap {
  margin-right: auto;
  margin-left: auto;
}

.footer_social-wrap a {
  margin-right: 20px;
}

.logo-html {
  position: absolute;
  right: 0;
  fill: #ffc600;
}

/*catalog*/

.h1-catalog {
  font-size: 47px;
  font-weight: 800;
  margin-top: 45px;
  margin-bottom: 50px;
  padding-left: 60px;
}

.bread-crumbs {
  padding-left: 60px;
  margin-bottom: 55px;
}

.bread-crumbs a {
  color: #bcbcbc;
}

.bread-crumbs img {
  margin: 0 15px;
}

.catalog_wrap {
  display: flex;
}

.sorting {
  background-color: #ebebeb;
  min-height: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.sorting_name {
  margin: 0 40px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sorting_categories {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.sorting_categories a {
  color: #a4a4a4;
  padding: 10px;
}

.sorting_arrows-nav {
  margin-left: auto;
}

.sorting_arrows-nav a {
  margin-left: 10px;
}

.products {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.products_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.products_item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.products_item:nth-child(2n) {
  margin-right: 0;
}

.products_item_name {
  font-size: 18px;
  font-weight: 800;
  color: #000;
}

.products_wrap span {
  font-size: 16px;
  font-weight: 300;
}

.pages-nav {
  margin-left: 70px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: #ebebeb;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pages-nav a {
  color: black;
  padding: 20px;
}

.pages-nav_numbers {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.pages-nav_numbers a {
  padding: 10px;
}

.filters {
  max-width: 328px;
  width: 100%;
}

.filters h2 {
  padding-left: 60px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #dbdbdb;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.filters form {
  padding-left: 60px;
}

.filters h3 {
  font-size: 16px;
  font-weight: 800;
}

.filter-cost, .filter-color, .filter-bluetooth {
  width: 200px;
  border-top: 2px solid #000000;
}

.filter-cost {
  margin-top: 70px;
}

.pop-up-message {
  width: 960px;
  margin: 0 auto;
  padding: 85px 100px;
  position: relative;
}

.form-message {
  display: flex;
  flex-wrap: wrap;
}

.form-message input,
.form-message textarea {
  padding-left: 20px;
  border: none;
  font-size: 14px;
}

.form_user-name span,
.form_user-mail span,
.form_user-message span {
  display: block;
  font-weight: 800;
  margin-bottom: 20px;
}

.form_user-mail {
  margin-left: 240px;
}

.form_user-message {
  margin-top: 50px;
}

.form_user-message textarea {
  width: 760px;
  height: 200px;
}

.pop-up-close {
  border: none;
  background-color: inherit;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
}

.pop-up-map {
  margin: auto;
  width: 960px;
  position: relative;
}
